In [2]:
from movie_recommender import MovieRecommender
import timeit

In [4]:
started = timeit.default_timer()
movies_file = 'data/ml-10M100K/movies.dat'
ratings_file = 'data/ml-10M100K/ratings.dat'
movie_rec = MovieRecommender(movies_filename=movies_file, ratings_filename=ratings_file)
elapsed = timeit.default_timer() - started
print(f'Read dataframes in {elapsed}ms')
movie_rec.ratings_df.head()

testing c:\Users\john.french\movie_recs\data\pickled\movie_ratings.pkl
found pickle at c:\Users\john.french\movie_recs\data\pickled\movie_ratings.pkl
Read dataframes in 3.111807000124827ms

          user_id  rating    timestamp
movie_id
122             1       5  838985046.0
185             1       5  838983525.0
231             1       5  838983392.0
292             1       5  838983421.0
316             1       5  838983392.0

In [7]:
pickle_dir = './data/pickled/'
pickle_filename = 'movie_ratings'
movie_rec.ratings_df.to_pickle(pickle_dir + pickle_filename)

In [5]:
user_id = movie_rec.get_next_avail_user_id()
movie_rec.ratings_df.head()
movie_rec.add_movie_rating(movie_id=1, user_id= user_id, rating= 5) # Toy Story
movie_rec.add_movie_rating(movie_id=2, user_id= user_id, rating= 5) # Jumanji
movie_rec.add_movie_rating(movie_id=48, user_id= user_id, rating= 5) # Pocahontas
movie_rec.ratings_df.head()

          user_id  rating    timestamp
movie_id
122             1       5  838985046.0
185             1       5  838983525.0
231             1       5  838983392.0
292             1       5  838983421.0
316             1       5  838983392.0

In [6]:
movie_rec.get_naive_recommendation(user_id)

called get_most_similar_user
Found similarity of 0.2612038749637414 based on 2 in common
Found similarity of 0.2612038749637414 based on 2 in common
Found similarity of 0.1951941016011038 based on 3 in common
Found similarity of 0.21089672205953397 based on 3 in common
Found similarity of 0.2612038749637414 based on 2 in common
Found similarity of 0.2402530733520421 based on 2 in common
Found similarity of 0.25 based on 3 in common
Found similarity of 0.3090169943749474 based on 2 in common
Found similarity of 0.3090169943749474 based on 2 in common
Found similarity of 0.5 based on 2 in common
Found similarity of 0.5 based on 2 in common
Found similarity of 0.25 based on 2 in common
Found similarity of 0.2612038749637414 based on 2 in common
Found similarity of 0.3333333333333333 based on 2 in common
Found similarity of 0.1951941016011038 based on 2 in common
Found similarity of 0.4142135623730951 based on 2 in common
Found similarity of 0.1907435698305462 based on 2 in common
Found similarity of 0.21712927295533244 based on 2 in common
Found similarity of 0.3090169943749474 based on 2 in common
Found similarity of 0.25 based on 3 in common
Found similarity of 0.2402530733520421 based on 2 in common
Found similarity of 0.4142135623730951 based on 2 in common
Found similarity of 0.3090169943749474 based on 2 in common
Found similarity of 0.4142135623730951 based on 2 in common
Found similarity of 0.3333333333333333 based on 3 in common
found similar user of 101
Pulp Fiction
True Romance
Shawshank Redemption, The
Terminator 2: Judgment Day
Silence of the Lambs, The
Jungle Book, The
Rumble in the Bronx (Hont faan kui)
Speed
True Lies
Apollo 13
Jurassic Park
American President, The
Nell
Outbreak
Seven (a.k.a. Se7en)
Stargate
Star Trek: Generations
Ghost
Aladdin
Batman
Lion King, The
Mask, The
Batman Forever
Crimson Tide
Die Hard: With a Vengeance
Dave
Demolition Man
Strange Days
Fugitive, The
In the Line of Fire
Disclosure
Mrs. Doubtfire
Interview with the Vampire: The Vampire Chronicles
Ace Ventura: When Nature Calls
Copycat
Murder in the First
Sleepless in Seattle
12 Monkeys (Twelve Monkeys)
Babe
Léon: The Professional (Léon) (Professional, The)
Clueless
Nightmare Before Christmas, The
Tombstone
Quiz Show
Usual Suspects, The
Specialist, The
Santa Clause, The
Dances with Wolves
While You Were Sleeping
Beauty and the Beast
Ace Ventura: Pet Detective
Clear and Present Danger
Heavy Metal
Forrest Gump
Four Weddings and a Funeral
Braveheart
Congo
Judge Dredd
Cliffhanger
Coneheads
Net, The
Nine Months
Species
Firm, The
Under Siege 2: Dark Territory
Waterworld
Clerks
Dumb & Dumber
I.Q.

[(296, 5),
 (555, 5),
 (318, 5),
 (589, 5),
 (593, 5),
 (362, 5),
 (112, 5),
 (377, 5),
 (380, 5),
 (150, 5),
 (480, 5),
 (11, 4),
 (282, 4),
 (292, 4),
 (47, 4),
 (316, 4),
 (329, 4),
 (587, 4),
 (588, 4),
 (592, 4),
 (364, 4),
 (367, 4),
 (153, 4),
 (161, 4),
 (165, 4),
 (440, 4),
 (442, 4),
 (198, 4),
 (457, 4),
 (474, 4),
 (225, 4),
 (500, 4),
 (253, 4),
 (19, 3),
 (22, 3),
 (280, 3),
 (539, 3),
 (32, 3),
 (34, 3),
 (293, 3),
 (39, 3),
 (551, 3),
 (553, 3),
 (300, 3),
 (50, 3),
 (315, 3),
 (317, 3),
 (590, 3),
 (339, 3),
 (595, 3),
 (344, 3),
 (349, 3),
 (610, 3),
 (356, 3),
 (357, 3),
 (110, 3),
 (160, 3),
 (173, 3),
 (434, 3),
 (435, 3),
 (185, 3),
 (186, 3),
 (196, 3),
 (454, 3),
 (204, 3),
 (208, 3),
 (223, 3),
 (231, 3),
 (252, 3)]

In [8]:
most_similar_movies

{1,
 3,
 11,
 17,
 28,
 34,
 43,
 47,
 62,
 92,
 104,
 107,
 110,
 116,
 141,
 150,
 151,
 161,
 185,
 208,
 230,
 235,
 248,
 253,
 260,
 261,
 266,
 282,
 300,
 317,
 318,
 339,
 344,
 356,
 357,
 362,
 364,
 367,
 368,
 370,
 371,
 377,
 380,
 383,
 432,
 440,
 454,
 466,
 480,
 500,
 524,
 527,
 531,
 539,
 551,
 553,
 586,
 588,
 590,
 592,
 593,
 594,
 595,
 597,
 608,
 616,
 637,
 648,
 661,
 678,
 707,
 733,
 736,
 780,
 783,
 838,
 848,
 852,
 903,
 904,
 914,
 919,
 920,
 924,
 932,
 953,
 954,
 1020,
 1022,
 1023,
 1027,
 1028,
 1029,
 1035,
 1042,
 1049,
 1064,
 1073,
 1079,
 1097,
 1101,
 1136,
 1183,
 1186,
 1193,
 1196,
 1198,
 1201,
 1207,
 1210,
 1219,
 1231,
 1240,
 1242,
 1247,
 1258,
 1265,
 1270,
 1271,
 1272,
 1278,
 1282,
 1288,
 1291,
 1293,
 1296,
 1302,
 1307,
 1333,
 1345,
 1367,
 1374,
 1377,
 1380,
 1390,
 1391,
 1393,
 1394,
 1409,
 1441,
 1466,
 1489,
 1544,
 1552,
 1566,
 1569,
 1580}

In [9]:
import pandas as pd

# rough work for adding dimensions to movies_df based on genre values
# split genres column by the '|' character
genres = movie_rec.movies_df.genres.apply(lambda genres: genres.split('|')).values

# double list comprehension to flatten lists of genres
unique_genres = set([genre for genre_list in genres for genre in genre_list])

genres_df = pd.DataFrame({'genre': list(unique_genres), 'prompt': [''] * len(unique_genres)})
genres_df.head()
genres_df.to_json('data/genre_list.json', orient="records")

# one movie has no genre associated
# num_movies_no_genre = movie_rec.movies_df[movie_rec.movies_df.genres == '(no genres listed)'].name.count()
# print(f'found {num_movies_no_genre} movies with (no genre listed)')
# for row in movie_rec.movies_df.loc[movie_rec.movies_df.genres == '(no genres listed)'].name:
#     print(row)

In [14]:
romance_movies = movie_rec.movies_df[movie_rec.movies_df['genres'].str.contains('Comedy')]
romance_movies

,name,genres
movie_id,,
1,Toy Story (1995),Adventure|Animation|Children|Comedy|Fantasy
3,Grumpier Old Men (1995),Comedy|Romance
4,Waiting to Exhale (1995),Comedy|Drama|Romance
5,Father of the Bride Part II (1995),Comedy
7,Sabrina (1995),Comedy|Romance
...,...,...
65025,Double Dynamite (1951),Comedy|Musical
65027,"Death Kiss, The (1933)",Comedy|Mystery
65088,Bedtime Stories (2008),Adventure|Children|Comedy
65126,Choke (2008),Comedy|Drama
65133,Blackadder Back & Forth (1999),Comedy

In [ ]:
movie_rec.handle_recommendation_request(liked_movies=(1, 2, 19, 34), disliked_movies=())

In [5]:
movie_rec.top_rated_movies.sort_values(
            by='Count', ascending=False, inplace=True)
top_rated_movies_names = movie_rec.top_rated_movies.index.values
length = 500
movie_rec.top_rated_movies_slice = movie_rec.top_rated_movies.head(length)
movie_rec.top_rated_movies_slice.columns = movie_rec.top_rated_movies_slice.columns.get_level_values(0)
print(movie_rec.top_rated_movies_slice.columns)
movie_rec.top_rated_movies_slice = movie_rec.top_rated_movies_slice.drop('rating', axis=1)
# Define a lambda function to get the movie_id for a given movie name
get_movie_id = lambda movie_name: movie_rec.movies_df[movie_rec.movies_df['name'] == movie_name].index.values[0]

# Apply the lambda function to each row of the DataFrame to set the movie_id
movie_rec.top_rated_movies_slice['movie_id'] = movie_rec.top_rated_movies_slice.index.map(get_movie_id)
movie_rec.top_rated_movies_slice['title'] = movie_rec.top_rated_movies_slice.index
movie_rec.top_rated_movies_slice = movie_rec.top_rated_movies_slice.set_index('movie_id')

print(movie_rec.top_rated_movies_slice)
output_file='data/top_rated_{}.json'.format(length)

movie_rec.top_rated_movies_slice.to_json(output_file, orient='index')

NameError: name 'movie_rec' is not defined

In [ ]:
from urllib.parse import quote
from urllib3 import disable_warnings
from urllib3.exceptions import InsecureRequestWarning
import requests
import bs4

def pull_movie_poster(movie_id: int) -> None:
    try:
        disable_warnings(InsecureRequestWarning)
        title = movie_rec.get_movie_title_with_year(movie_id)
        clean_title = movie_rec.get_movie_title(movie_id)
        base_url = 'https://imdb.com/find/?q='
        base_page_url = 'https://imdb.com'
        qs_title = quote(title)
        url = base_url + qs_title + '&ref_=nv_sr_sm'
        headers = requests.utils.default_headers()
        headers.update({'User-Agent': 'My User Agent 2.0',})

        print(f'search page: {url}')
        html = requests.get(url, verify=False, headers=headers).content
        soup = bs4.BeautifulSoup(html, 'lxml')
        find_title_results = soup.find_all('li', {'class': 'find-title-result'})
        for tr in find_title_results:
            div_title = tr.find_all(
                'a', {'class': 'ipc-metadata-list-summary-item__t'})
            for dt in div_title:
                # this may need a more clever way of filtering if the wrong movie posters are getting pulled
                if dt.text == clean_title or ',' in clean_title or True:
                    full_page = tr.find('a')['href']
                    full_page_html = requests.get(
                        base_page_url+full_page, verify=False, headers=headers).content
                    full_page_soup = bs4.BeautifulSoup(full_page_html, 'lxml')
                    img = full_page_soup.find('img', {'class': 'ipc-image'})
                    if img:
                        if img['src']:
                            response = requests.get(img['src'], verify=False)
                            img_content = response.content
                            with open('data/posters/'+str(movie_id)+'.jpg', 'wb') as f:
                                print(f'writing image {clean_title}')
                                f.write(img_content)
                                return
                        else:
                            print('no image source found')
                    else:
                        print('no image found')
                else:
                    print(f'mismatching title and listed name: {dt.text} != {clean_title}')
    except Exception as e:
        print(e)

In [ ]:
import pandas as pd

# movie_rec.output_to_json()
top30_input_filepath = 'data/top_rated_250.json'
top30_filepath = 'recs-app/public/top_rated_movies30.archive.json'
top30_df = pd.read_json(top30_input_filepath)
top30_df = top30_df.T
get_movie_id = lambda movie_name: movie_rec.movies_df[movie_rec.movies_df['name'] == movie_name].index.values[0]

# Apply the lambda function to each row of the DataFrame to set the movie_id
top30_df['movie_id'] = top30_df['title'].map(get_movie_id)
top30_df.to_json(top30_filepath, orient="index")
for name in top30_df['title'][10:]:
    pull_movie_poster(top30_df.loc[top30_df['title'] == name]['movie_id'].values[0])
# print(top30_df.T)

In [ ]:
import numpy as np


# return the difference between average ratings for two movies
def get_movie_mean_rating_error(movie1_id: int, movie2_id: int):
    movie1_ratings = np.mean(
        movie_rec.ratings_df.loc[movie_rec.ratings_df.index == movie1_id]['rating'].values)
    movie2_ratings = np.mean(
        movie_rec.ratings_df.loc[movie_rec.ratings_df.index == movie2_id]['rating'].values)
    return abs(movie1_ratings - movie2_ratings)


# get_movie_mean_rating_error(599, 700)
# movie_rec.get_movie_users(5)
print(movie_rec.get_movie_title(1))
print(movie_rec.get_movie_title(2))
print(len(movie_rec.get_movie_users(1)))
print(len(movie_rec.get_movie_users(2)))
print(len(movie_rec.get_common_users(1, 2)))

In [ ]:
def get_movie_rating_pearson_coeff(movie1_id: int, movie2_id: int)-> float:
    common_users = movie_rec.get_common_users(movie1_id=movie1_id, movie2_id=movie2_id)
    movie1_ratings = [movie_rec.get_user_movie_rating(user_id=u, movie_id=movie1_id) for u in common_users]
    movie2_ratings = [movie_rec.get_user_movie_rating(user_id=u, movie_id=movie2_id) for u in common_users]
    coeff = np.corrcoef(np.array(movie1_ratings), np.array(movie2_ratings))[0, 1]
    movie1_title = movie_rec.get_movie_title(movie1_id)
    movie2_title = movie_rec.get_movie_title(movie2_id)
    print(f'{movie1_title} and {movie2_title} have a correlation of {"{:.2f}".format(coeff)} from {len(common_users)} users who have rated both')

get_movie_rating_pearson_coeff(1, 3)

In [ ]:
from urllib.parse import quote
import requests
import bs4

movie_id = 1
title = movie_rec.get_movie_title_with_year(movie_id)
clean_title = movie_rec.get_movie_title(movie_id)
base_url = 'https://imdb.com/find/?q='
base_page_url = 'https://imdb.com'
qs_title = quote(title)
url = base_url + qs_title + '&ref_=nv_sr_sm'
headers = requests.utils.default_headers()
headers.update(
    {
        'User-Agent': 'My User Agent 1.0',
    }
)

print(f'search page: {url}')
html = requests.get(url, verify=False, headers=headers).content
soup = bs4.BeautifulSoup(html, 'lxml')
find_title_results = soup.find_all('li', {'class': 'find-title-result'})
for tr in find_title_results:
    div_title = tr.find_all('a', {'class': 'ipc-metadata-list-summary-item__t'})
    for dt in div_title:
        if dt.text == clean_title:
            full_page = tr.find('a')['href']
            full_page_html = requests.get(base_page_url+full_page, verify=False, headers=headers).content
            full_page_soup = bs4.BeautifulSoup(full_page_html, 'lxml')
            print(full_page_soup.prettify())
            img = full_page_soup.find('img', {'class':'ipc-image'})
            print(img['src'])
            if img['src']:
                response = requests.get(img['src'], verify=False)
                img_content = response.content
                with open('data/posters/'+str(movie_id)+'.jpg', 'wb') as f:
                    f.write(img_content)
            # img = tr.find('img')
            # if img['src']:
            #     print(img['src'])
            #     response = requests.get(img['src'], verify=False)
            #     img_content = response.content
            #     with open('data/posters/'+str(movie_id)+'.jpg', 'wb') as f:
            #         f.write(img_content)